{% extends "project_simple.html" %}

{% block title %} {{title}} {% endblock title %}
{% block header %} {{header}} {% endblock header %}

{% block content %}

<h2>Datatable</h2>
<table>
   <thead>
      <tr>
         {% for key, value in Swimmer[0].items() %}
         {% if key != '_sa_instance_state' %}
         <th>
            {{key}}
         </th>
         {% endif %}
         {% endfor %}

      </tr>
   </thead>
   <tbody>
      {% for element in Swimmer %}
      <tr>
         {% for key, value in element.items() %}
         {% if key != '_sa_instance_state' %}
         <td>
            {{ value }}
         </td>
         {% endif %}
         {% endfor %}
      </tr>
      {% endfor %}
   </tbody>
</table>

{% endblock content %}