<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
      <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='thirdtable.css')}}" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />
    <script>
         $(document).ready(function () {
            $('table').DataTable();
         });
      </script>
</head>
<body>
   <h1>{% block header %}{% endblock %}</h1>
   <h4>Navigation:</h4>
   <ul class="nav">
      <li><a href="/team" >Add Team</a></li>
      <li><a href="/swimmer_form">Add Swimmer</a></li>
      <li><a href="/first_table">first table</a></li>
      <li><a href="/second_datatable">Data Table-second table</a></li>
      <li><a href="/third_table">Gridjs third_table</a></li>
    </ul>
    <br /><br />
   {% block content %}{% endblock %}

</body>
</html>